{% load static %}

{% if contact_us_details %}
    {% for contact in contact_us_details %}
        <tr>
            <td>{{forloop.counter0|add:contact_us_details.start_index}}</td>
            <td>{{contact.admin_contactus_email}}</td>
            <td>{{contact.admin_contactus_phonenumber}}</td>
            <td>{{contact.admin_contactus_address}}</td>
            <td>{{contact.admin_contactus_created_at|date:"d M,Y"}}</td>
            <td class="border-light" id="admin_contactus_status{{contact.id}}">
              {% if contact.admin_contactus_status %}
              <span class="badge bg-success">
                  <a href="#" hx-post="{% url 'contactUsStatusChange' contact.id %}"
                      hx-target="#admin_contactus_status{{contact.id}}"
                      hx-trigger="click once"
                      hx-swap="innerHTML"
                      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Active</a>
              </span>
              {% else %}
              <span class="badge bg-danger">
                  <a href="#" hx-post="{% url 'contactUsStatusChange' contact.id %}"
                      hx-target="#admin_contactus_status{{contact.id}}"
                      hx-trigger="click once"
                      hx-swap="innerHTML"
                      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Deactive</a>
              </span>
              {% endif %}
          </td>
            <td class="border-light d-flex gap-2 justify-content-center" >
                <a href="#editcontactModal-{{contact.id}}" style="background-color:#405189;" class="btn btn-sm text-white btn-icon" data-bs-toggle="modal" hx-get="{% url 'contactUsDataRender' %}?editid={{contact.id}}" hx-target="#contact-edit-form-{{contact.id}}" hx-trigger="click once" hx-swap="outerHTML">
                    <i class="ri-pencil-fill"></i>
                </a>

                <button class="btn btn-sm bg-danger text-white btn-icon" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal-{{contact.id}}">
                    <i class="ri-delete-bin-5-fill"></i>
                </button>
          </td>
        </tr>

         <!-- Edit form modal-->
            <div class="modal fade" id="editcontactModal-{{contact.id}}" tabindex="-1" aria-labelledby="editcontactModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#405189; padding:10px 15px 10px 10px;">
                            <h5 class="modal-title text-white mb-0">Edit Contact Details</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" style="background-color: white;" type="button"></button>
                        </div>

                        <div class="modal-body">
                            <div id="contact-edit-form-{{contact.id}}">

                            </div>
                        </div>
                    </div>
                </div>
            </div>




       <!-- delete model start here -->
        <div class="modal fade zoomIn" id="deleteConfirmModal-{{contact.id}}" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
              <div class="modal-header bg-danger pb-3">
                  <h5 class="modal-title text-white" id="deletecontactModalLabel">Delete Contact Details</h5>
                  <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
              </div>
              <div class="modal-body">
                <div class="mt-2 text-center">
                  <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                    colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                  <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>Are you sure ?</h4>
                    <p class="text-muted mx-4 mb-0">Are you sure you want to remove this ContactUs ?</p>
                  </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                  <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn w-sm btn-danger " id="delete-record">Yes, Delete It!</button> -->
                  <a href="{% url 'deleteContactUs' contact.id%}" class="btn w-sm btn-danger delete-contact-btn" id="delete-record">Yes,
                    delete it!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- delete model end here -->

{% endfor %}
{% else %}

    <tr>
        <td colspan="7" style="color:red; text-align:center;">No Records Found</td>
    </tr>
{% endif %}


<!--pagination starts here-->
   <div class="d-flex justify-content-center" id="pagination_div" hx-swap-oob="true"  >
        <ul class="pagination pagination-separated pagination-sm justify-content-center justify-content-sm-start mb-0">
          {% if contact_us_details.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="#" hx-get="{% url 'contactUsDataRender' %}?page={{ contact_us_details.previous_page_number }}"  hx-target="#contactusTableBodyContainer" hx-swap="innerHTML" hx-include="#search-filter-form,#query">Previous</a>
                </li>
                {% else %}
                    <li class="page-item disabled text-muted">
                        <a class="page-link" href="#" >Previous</a>
                    </li>
                {% endif %}

                <!-- First page -->
                {% if contact_us_details.number > 3  %}
                    <li class="page-item">
                        <a class="page-link" href="#" hx-get="{% url 'contactUsDataRender' %}?page=1" hx-target="#contactusTableBodyContainer" hx-swap="innerHTML" hx-include="#search-filter-form,#query">1</a>
                    </li>
                    {% if contact_us_details.number == 4 %}
                    <li class="page-item text-muted" style="display: none;"><span class="page-link">...</span></li>
                    {% else %}
                    <li class="page-item text-muted" ><span class="page-link">...</span></li>
                    {% endif %}
                {% endif %}




                <!-- Pages around the current page -->
                {% for page_num in contact_us_details.paginator.page_range %}
                    {% if page_num >= contact_us_details.number|add:-2 and page_num <= contact_us_details.number|add:2 %}
                        <li class="page-item {% if page_num == contact_us_details.number %}active{% endif %}">
                            <a class="page-link" href="#" hx-get="{% url 'contactUsDataRender' %}?page={{ page_num }}" hx-target="#contactusTableBodyContainer" hx-swap="innerHTML" hx-include="#search-filter-form,#query">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Last page -->
                {% if contact_us_details.number < contact_us_details.paginator.num_pages|add:-2 %}

                    <li class="page-item text-muted"><span class="page-link">...</span></li>
                    <li class="page-item">
                        <a class="page-link" href="#" hx-get="{% url 'contactUsDataRender' %}?page={{ contact_us_details.paginator.num_pages }}" hx-target="#contactusTableBodyContainer" hx-swap="innerHTML" hx-include="#search-filter-form,#query">{{ contact_us_details.paginator.num_pages }}</a>
                    </li>
                {% endif %}

                {% if contact_us_details.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="#" hx-get="{% url 'contactUsDataRender' %}?page={{ contact_us_details.next_page_number }}" hx-target="#contactusTableBodyContainer" hx-swap="innerHTML" hx-include="#search-filter-form,#query">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled text-muted">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
        </ul>
      </div>

<!-- pagination ends here-->