{% if status_page == 'purchase_status' %}
    <td class="border-light" id="purchase_status_td{{ item.id }}">
                {% if item.purchase_item_status %}
                    <span class="badge bg-success">
                        <a href="#" hx-post="{% url 'purchaseItemStatusChange' item.id %}"
                           hx-target="#purchase_status_td{{ item.id }}"
                           hx-trigger="click once"
                           hx-swap="innerHTML"
                           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Active</a>
                    </span>
                {% else %}
                    <span class="badge bg-danger">
                        <a href="#" hx-post="{% url 'purchaseItemStatusChange' item.id %}"
                           hx-target="#purchase_status_td{{ item.id }}"
                           hx-trigger="click once"
                           hx-swap="innerHTML"
                           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Deactive</a>
                    </span>
                {% endif %}
            </td>
{% endif %}