{% load static %}
<!-- JAVASCRIPT -->
<script type="javascript" src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script type="javascript" src="{% static 'assets/libs/simplebar/dist/simplebar.min.js' %}"></script>
<script type="javascript" src="{% static 'assets/js/plugins.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
            integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="javascript" src="{% static 'assets/libs/dropzone/dist/dropzone-min.js' %}"></script>
<script type="javascript" src="{% static 'assets/libs/rater-js/index.js' %}"></script>
<script type="javascript" src="{% static 'assets/js/pages/ecommerce-product-overview.init.js' %}"></script>
<input type="file" multiple="multiple" class="dz-hidden-input" tabindex="-1" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">

<!-- App js -->
<script  type="javascript" src="{% static 'assets/js/app.js' %}"></script>
