{% if status_page == 'country_page' %}


      <td class="border-light" id="country_status_td{{country.id}}">
            {% if country.country_status %}
            <span class="badge bg-success">
                <a href="#" hx-post="{% url 'countryStatusChange' country.id %}"
                    hx-target="#country_status_td{{country.id}}"
                    hx-trigger="click once"
                    hx-swap="innerHTML"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Active</a>
            </span>
            {% else %}
            <span class="badge bg-danger">
                <a href="#" hx-post="{% url 'countryStatusChange' country.id %}"
                    hx-target="#country_status_td{{country.id}}"
                    hx-trigger="click once"
                    hx-swap="innerHTML"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Deactive</a>
            </span>
            {% endif %}
        </td>

{% endif %}