{% extends 'console_base/base.html' %}

{% block content %}
<!--alert starts here-->
{% include 'alertcomponents/alertcomponent.html' %}
<!--alert ends here-->

<!-- breadcrum starts here -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'consoleGeneralSettings' %}">General Settings</a></li>
                    <li class="breadcrumb-item active">Product Payment Type</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!--breadcrum ends here-->


<!-- Product payment type start here -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                      <div class="col-6">
                           <!-- Button trigger modal -->
                              <button type="button" class="btn text-white" style="background-color:#405189;" data-bs-toggle="modal" data-bs-target="#productpaymenttypeModal">
                                <i class="bx bx-plus-circle"></i> Payment Type
                              </button>
<!--                            product paymenttype creation modal starts here-->
                               <div class="modal fade" id="productpaymenttypeModal" tabindex="-1" aria-labelledby="productpaymenttypeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header" style="background-color:#405189;padding:10px 15px 10px 10px;">
                                  <h1 class="modal-title text-white mb-0 fs-5" id="productpaymenttypeModalLabel">Add Payment Type</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: white;"></button>
                                </div>
                                <form id="productpaymenttype_form" method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                    <div class="modal-body">

                                          <div class="row">
                                              <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                                                  <label for="productpaymenttype" class="form-label">Payment Type <span style="color:red;">*</span></label>
                                                  <input type="text" id="productpaymenttype" class="form-control" name="productpaymenttype" placeholder="Ex:UPI">
                                              </div>
                                          </div>
                                        </div>



                                    <div class="modal-footer">
                                        <button type="submit" id="createProductpaymenttypeFormSubmit" class="btn text-white" style="background-color:#405189;">Submit</button>
                                        <button type="button" class="btn bg-light" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                              </div>
                            </div>
                          </div>
<!--                          product paymenttype creation modal ends here-->
                      </div>
                      <div class="col-1"></div>
                      <div class="col-5">
                          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" hx-get="{% url 'paymentTypeRenderData' %}" hx-trigger="input changed delay:500ms, query" hx-swap="innerHTML" hx-target="#productpaymenttypeTableBodyContainer">
                      </div>
                </div>
            </div>
            <div class="card-body">
            <!--card body starts here-->
                <div class="table-responsive">
                      <table class="table">
                          <thead>
                                <tr>
                                  <th>S.No</th>
                                  <th>Payment Type </th>
                                    <th>Created On</th>
                                    <th>Status</th>
                                  <th style="text-align:center;">Action</th>
                                </tr>
                          </thead>
                          <tbody
                                  hx-get="{% url 'paymentTypeRenderData' %}"
                                  hx-swap="innerHTML"
                                  hx-target="this"
                                  hx-trigger="revealed once"
                                  id="productpaymenttypeTableBodyContainer">

                          </tbody>
                      </table>
                    </div>
                <div class="d-flex justify-content-center" id="pagination_div">

                </div>
                <!--card body ends here-->


            </div>
        </div>
    </div>

</div>


<!-- product paymenttype ends here -->
<!--base_assests js file-->
{% include 'base_assets/base_js.html' %}

<!--Script starts here-->
<script>
$(document).ready(function() {
   console.log('hello');

    function capitalizeFirstLetter(str) {
        if (str.length > 0) {
            return str.charAt(0).toUpperCase() + str.slice(1);
        }
        return str;
    }

    // Adding custom validation method for capitalizing first letter
    $.validator.addMethod("capitalizeFirstLetter", function(value, element) {
        // Capitalize the input value
        $(element).val(capitalizeFirstLetter(value));
        return true;
    }, "");
    $.validator.addMethod("letterStartNoLeadingSpace", function(value, element) {
        return this.optional(element) ||/^[a-zA-Z][a-zA-Z ]*$/.test(value);
    }, "Please start with a letter and use only letters and spaces.");

   $('#productpaymenttype_form').validate({
       rules: {
           productpaymenttype:{
               required:true,
               minlength: 3,
                maxlength: 100,
               capitalizeFirstLetter: true,
               letterStartNoLeadingSpace:true
           }

       },
       messages:{

           productpaymenttype:{
               required:" Please enter payment type.",
               minlength: "Payment type should consists at least 3 characters.",
                maxlength: "Payment type should not be exceeded 100 characters."
           }

       },
       submitHandler: function(form) {
          console.log(" Form is valid.");
          $('#createProductpaymenttypeFormSubmit').prop('disabled',true);
          form.submit();
      }
   });
});


</script>
<!--Script ends here-->

{% endblock %}