{% load static %}
<!-- JAVASCRIPT -->
<script type="javascript" src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script type="javascript"  src="{% static 'assets/libs/simplebar/dist/simplebar.min.js' %}"></script>
<script  type="javascript" src="{% static 'assets/js/plugins.js' %}"></script>
  <script  type="javascript" src="{% static 'assets/libs/prismjs/prism.js' %}"></script>
<!-- Modal Js -->
<script  type="javascript" src="static/assets/js/pages/modal.init.js"></script>
<!-- App js -->
<script  type="javascript" src="{% static 'assets/js/app.js' %}"></script>

<!--toastify -->
<!--<script src="{% static 'assets/libs/toastify-js/src/toastify.js' %}"></script>-->

<!--Ck editor js-->
<script  type="javascript" src="{% static 'assets/js/pages/form-editor.init.js' %}"></script>

<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<!-- Layout config Js -->
<script src="{% static 'assets/js/layout.js' %}"></script>

<!--Load icon-->
<script src="{% static 'assets/libs/cdn.lordicon.com/lordicon.js' %}"></script>

<!-- Jquery for validations-->

<script src="{% static 'assets/libs/code.jquery.com/jquery-3.6.0.min.js' %}"></script>

<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/additional-methods.min.js"></script>

<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!--Swipper js-->
<script src="{% static 'assets/libs/swiper/swiper-bundle.min.js' %}"></script>
<!--Drop zone-->
<script src="{% static 'assets/libs/dropzone/dist/dropzone-min.js' %}"></script>


<!--Layout.js-->
<script src="{% static 'assets/js/layout.js' %}"></script>

<!--tom select script-->

<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>
