
{% if status_page == 'material_page' %}
        <td class="border-light" id="material_status_td{{material.id}}">
              {% if material.product_type_status %}
              <span class="badge bg-success">
                  <a href="#" hx-post="{% url 'materialStatusChange' material.id %}"
                      hx-target="#material_status_td{{material.id}}"
                      hx-trigger="click once"
                      hx-swap="innerHTML"
                      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Active</a>
              </span>
              {% else %}
              <span class="badge bg-danger">
                  <a href="#" hx-post="{% url 'materialStatusChange' material.id %}"
                      hx-target="#material_status_td{{material.id}}"
                      hx-trigger="click once"
                      hx-swap="innerHTML"
                      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Deactive</a>
              </span>
              {% endif %}
          </td>


{% endif %}