{% load static %}

{% include 'base_assets/base_css.html' %}

<!--<form hx-post="{% url 'transportDetailsForm' o.id%}" hx-target="#transport-details-form-{{ o.id }}" hx-swap="innerHTML">-->
<!--    {% csrf_token %}-->
<!--    <input type="hidden" name="order_id" value="{{ o.id }}">-->
<!--    <div class="mb-3">-->
<!--        <label for="order_ref" class="form-label">Order Reference</label>-->
<!--        <input type="text" class="form-control" id="order_ref" value="{{ o.order_reg_id }}" readonly>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <label for="transport_type" class="form-label">Transport Type</label>-->
<!--        <select class="form-select" id="transport_type" name="transport_type" required>-->
<!--            <option value="" disabled selected>Select Transport Type</option>-->
<!--            {% for transport_type in transport_types %}-->
<!--                <option value="{{ transport_type.id }}">{{ transport_type.transport_type }}</option>-->
<!--            {% endfor %}-->
<!--        </select>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <label for="delivery_date" class="form-label">Delivery Date</label>-->
<!--        <input type="date" class="form-control" id="delivery_date" name="delivery_date" required>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="status" class="form-label">Status</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <select class="form-select" id="status" name="status" required>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="" disabled selected>Select Status</option>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="Scheduled">Scheduled</option>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="In Transit">In Transit</option>&ndash;&gt;-->
<!--&lt;!&ndash;            <option value="Delivered">Delivered</option>&ndash;&gt;-->
<!--&lt;!&ndash;        </select>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->

<form action="{% url 'transportDetailsForm' o.id %}" method="post" id="transport_form">
    {% csrf_token %}
<!--    <input type="hidden" name="order_id" value="{{ o.id }}">-->
    <div class="mb-3">
        <label for="order_ref" class="form-label">Order Reference</label>
        <input type="text" class="form-control" id="order_ref" value="{{ o.order_item_reg_id }}" readonly>
    </div>
    <div class="mb-3">
        <label for="transport_type" class="form-label">Transport Type</label>
        <select class="form-select" id="transport_type" name="transport_type" required>
            <option value="" disabled selected>Select Transport Type</option>
            {% for transport_type in transport_types %}
                <option value="{{ transport_type.id }}">{{ transport_type.transport_type }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="delivery_date" class="form-label">Delivery Date</label>
        <input type="date" class="form-control" id="delivery_date" name="delivery_date" required>
    </div>
<!--    <div class="mb-3">-->
<!--        <label for="status" class="form-label">Status</label>-->
<!--        <select class="form-select" id="status" name="status" required>-->
<!--            <option value="" disabled selected>Select Status</option>-->
<!--            <option value="Scheduled">Scheduled</option>-->
<!--            <option value="In Transit">In Transit</option>-->
<!--            <option value="Delivered">Delivered</option>-->
<!--        </select>-->
<!--    </div>-->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% include 'base_assets/base_js.html' %}