{% load static %}

{% if status_page == 'banner_page' %}
    <td class="border-light" id="banner_status_td{{ banner.id }}">
        {% if banner.status %}
            <span class="badge bg-success">
                <a href="#" hx-post="{% url 'bannerStatusChange' banner.id %}"
                   hx-target="#banner_status_td{{ banner.id }}"
                   hx-trigger="click once"
                   hx-swap="innerHTML"
                   hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Active</a>
            </span>
        {% else %}
            <span class="badge bg-danger">
                <a href="#" hx-post="{% url 'bannerStatusChange' banner.id %}"
                   hx-target="#banner_status_td{{ banner.id }}"
                   hx-trigger="click once"
                   hx-swap="innerHTML"
                   hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Deactive</a>
            </span>
        {% endif %}
    </td>
{% endif %}