{% if status_page == 'city_page' %}
<td class="border-light" id="city_status_td{{ city.id }}">
    {% if city.city_status %}
        <span class="badge bg-success">
            <a href="#" hx-post="{% url 'cityStatusChange' city.id %}"
               hx-target="#city_status_td{{ city.id }}"
               hx-trigger="click once"
               hx-swap="innerHTML"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Active</a>
        </span>
    {% else %}
        <span class="badge bg-danger">
            <a href="#" hx-post="{% url 'cityStatusChange' city.id %}"
               hx-target="#city_status_td{{ city.id }}"
               hx-trigger="click once"
               hx-swap="innerHTML"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Deactive</a>
        </span>
    {% endif %}
</td>
{% endif %}