{% if status_page == 'product_page' %}


            <td class="border-light" id="productcatalogue_status_td{{product.id}}">
                      {% if product.product_catalogue_status %}
                      <span class="badge bg-success">
                          <a href="#" hx-post="{% url 'productcatalogueStatusChange' product.id %}"
                              hx-target="#productcatalogue_status_td{{product.id}}"
                              hx-trigger="click once"
                              hx-swap="innerHTML"
                              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Active</a>
                      </span>
                      {% else %}
                      <span class="badge bg-danger">
                          <a href="#" hx-post="{% url 'productcatalogueStatusChange' product.id %}"
                              hx-target="#productcatalogue_status_td{{product.id}}"
                              hx-trigger="click once"
                              hx-swap="innerHTML"
                              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="text-white">Deactive</a>
                      </span>
                      {% endif %}
                  </td>

{% endif %}